<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Search</title>
    <style>
        .button {
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            font-weight: bold;
            color: #fff;
            text-decoration: none;
            background-color: #4CAF50;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>
    <h1>Welcome to Electronic ShopSmart!</h1>
    {% if session.access_token %}
        <h2>Hello, {{ name }}!</h2>
        <h3>Search for gadgets</h3>
        <a href="/logout">Logout</a>
        <form method="POST">
            <label for="keyword">Enter a keyword to search:</label>
            <input type="text" id="keyword" name="keyword">
            <button type="submit">Search</button>
        </form>
    {% else %}
        <h2>Login</h2>
        <p>You must login to search for products</p>
        <a href="{{auth_url}}/login?response_type=code&client_id={{ client_id }}&redirect_uri={{ redirect_uri }}" class="button">Sign In Via AWS Cognito</a>
    {% endif %}
</body>
</html>