<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShopSmart | Verify</title>
</head>
<body>
    <h1>Verify your account!</h1>
    <h2>Enter the code sent to your email!</h2>
    <form method="POST">
        <input type="text" id="code" name="code", placeholder="Enter code here">
        <button type="submit">Verify</button>
    </form>
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
    <br>
    <br>
    <a href="/">Go Home</a>
</body>
</html>